
h1 {
    opacity: 1;
}

h2{
    text-align: center;
}

.header{
    background-color: black;
    margin-right: 0;
    height: 100px;
    width: 105%;
    color: white;
}

.header h3{
    padding-left: 10px;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

img{
    margin-top: 10px;
    height: 80px;

}

.btn{
    margin: 5px;
}

body {
    background-color: rgb(190, 189, 189);
}

#counter {
    color: green;
    font-family: 'Permanent Marker', cursive;
}

.container p:first-child{
    font-size: 24px;
    margin-top: 100px;
}


h2 {

    font-family: 'Permanent Marker', cursive;
}

ul {
    list-style: none;
}

#start {
    font-size: 150%;
}

#counter {
    font-size: 300%;
    font-family: 'Permanent Marker', cursive;
    border-radius: 50px;
}

#question {
    color: black;
    border-radius: 30px;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 3%;
    text-align: center;
    font-size: 200%;
}

.red {
    color: red;
}


#Score {
    background-color: white;
    text-align: center;
    color: black;
    border-radius: 30px;
    font-family: 'Permanent Marker', cursive;
}